<h3 style="width: 75%; margin: 10px auto;">Leaderboard</h3>
<div class="leaderboard">
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Method</th>
                <th>Test ROC-AUC</th>
                <th>Validation ROC-AUC</th>
                <th>Contact</th>
                <th>References</th>
                <th>#Params</th>
                <th>Hardware</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="rank">1</td>
                <td class="method">Deep AUC</td>
                <td class="test_score">0.83</td>
                <td class="val_score">0.82</td>
                <td class="contact">abc@gmail.com</td>
                <td class="reference">Paper, Code</td>
                <td class="params">3444509</td>
                <td class="hardware">Tesla V100</td>
                <td class="date">Oct 10, 2021</td>
            </tr>
            <tr>
                <td class="rank">2</td>
                <td class="method">Deep AUC</td>
                <td class="test_score">0.83</td>
                <td class="val_score">0.82</td>
                <td class="contact">abc@gmail.com</td>
                <td class="reference">Paper, Code</td>
                <td class="params">3444509</td>
                <td class="hardware">Tesla V100</td>
                <td class="date">Oct 10, 2021</td>
            </tr>
            <tr>
                <td class="rank">3</td>
                <td class="method">Deep AUC</td>
                <td class="test_score">0.83</td>
                <td class="val_score">0.82</td>
                <td class="contact">abc@gmail.com</td>
                <td class="reference">Paper, Code</td>
                <td class="params">3444509</td>
                <td class="hardware">Tesla V100</td>
                <td class="date">Oct 10, 2021</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="leaderboard2">
    <app-mat-leaderboard></app-mat-leaderboard>
</div>