.copy-icon{
    display: inline-block;
    vertical-align: top;
    margin-top:15px;
    color: white;
    background-color: #3643b8;
}
.copy-icon:hover{
    cursor: pointer;
}
.text{
    margin:15px;
    margin-left: 30px;
    padding-top:10px;
    font-size: large;
    border:solid;
    border-radius: 5px;
    border-width: 2px;
}
// .hoverpop{
//     display: inline;
//     vertical-align: top;
// }