.tabs{
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    // background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    // box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    background-color: #3643b8;
    padding: 10px;
    color: white;
}

.copy-icon{
    display: inline-block;
    vertical-align: top;
    margin-top:15px;
    color: white;
    background-color: #3643b8;
}
.copy-icon:hover{
    cursor: pointer;
}
.text{
    margin:15px;
    margin-left: 30px;
    padding-top:10px;
    font-size: large;
    border:solid;
    border-radius: 5px;
    border-width: 2px;
}
// .hoverpop{
//     display: inline;
//     vertical-align: top;
// }