<!-- <div>
    <button mat-button class="button" routerLink="ide/tasks">
        Tasks
    </button>
    <button mat-button class="button" routerLink="ide/own_code">
        Submit your own code
    </button>
    <button mat-button class="button" routerLink="ide/debug">
        Debug
    </button>
    <button mat-button class="button" routerLink="/ide/exportbatch">
        Export as Batch Project
    </button>
    <button mat-button class="button" routerLink="ide/exportdocker">
        Export as Docker Project
    </button>
</div> -->
<p> Debug works!</p>