<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
      <td mat-cell *matCellDef="let row">{{row.rank}}</td>
    </ng-container>

    <!-- Method Column -->
    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Method</th>
      <td mat-cell *matCellDef="let row">{{row.method}}</td>
    </ng-container>

     <!-- test-score Column -->
     <ng-container matColumnDef="test_score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Test ROC-AUC</th>
      <td mat-cell *matCellDef="let row">{{row.test_score}}</td>
    </ng-container>

     <!-- val-score Column -->
     <ng-container matColumnDef="val_score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Validation ROC-AUC</th>
      <td mat-cell *matCellDef="let row">{{row.val_score}}</td>
    </ng-container>

     <!-- contact Column -->
     <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
      <td mat-cell *matCellDef="let row">{{row.contact}}</td>
    </ng-container>

     <!-- references Column -->
     <ng-container matColumnDef="references">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>References</th>
      <td mat-cell *matCellDef="let row">{{row.references}}</td>
    </ng-container>

     <!-- params Column -->
     <ng-container matColumnDef="params">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Params</th>
      <td mat-cell *matCellDef="let row">{{row.params}}</td>
    </ng-container>

     <!-- hardware Column -->
     <ng-container matColumnDef="hardware">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hardware</th>
      <td mat-cell *matCellDef="let row">{{row.hardware}}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
